{% extends 'profile.html' %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<link rel="stylesheet" href="ok/card.css">
<link rel="stylesheet" href="ok/form.css">
<link rel="stylesheet" href="ok/button.css">
<!-- <link rel="stylesheet" href="ok/form2.css"> -->

{% with messages = get_flashed_messages(with_categories=true) %} {% if
messages %} {% for category, message in messages %} {% if category ==
'error' %}
<div class="alert alert-danger alter-dismissable" role="alert">
  {{ message }}
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% else %}
<div class="alert alert-success alter-dismissable" role="alert">
  {{ message }}
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %} {% endfor %} {% endif %} {% endwith %}

<div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Update Password</h4>
        <br>
        <form class="form-sample" method="post">
          <p class="card-description">
          </p>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Current Password</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control my-font" name="old_pass" id="old_pass"/>
                </div>
              </div>
            </div>
            
          </div>
          <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">New Password</label>
                  <div class="col-sm-9">
                    <input class="form-control my-font" placeholder="" name="new_pass" id="new_pass"/>
                  </div>
                </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Confirm Password</label>
                <div class="col-sm-9">
                  <input class="form-control my-font" placeholder="" name="confirm" id="confirm"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <div class="col-sm-9">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <div class="col-sm-9">
                  <button type="submit" class="btn btn-success btn-icon-text right" style="background-color: rgb(226, 46, 43);">
                    Update Password
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
</div>
{% endblock %}